<footer class="page-footer font-sm bg-secondary pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class="text-white">Siga-me nas redes sociais</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a
              href="https://www.github.com/JeanLRC/"
              target="_blank"
              class="icoGithub"
            >
              <i class="fa fa-github" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/jeanlrc/"
              target="_blank"
              class="icoInstagram"
            >
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/jeanlrc/"
              target="_blank"
              class="icoLinkedin"
            >
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light">&copy; 2022 Copyright: Jean Lucas </span>
    <img
      class="rounded-circle ml-2"
      src="https://github.com/JeanLRC.png"
      alt="Foto do criador da página"
      width="40px"
      height="40px"
    />
  </div>
</footer>
